/*reset delle misure per i browser*/
*{
    box-sizing: border-box;
    margin: 0; padding: 0;   
}

body{
    background-color: var(--sfondo);
}

.logo{
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(18, 115, 226);
    height: 50px;
    width: 50px;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 20%;
    background-color: var(--sfondoDiv);
    border-radius: 50px;
    
}

.menu, a, button {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}


.menu{
    list-style: none;
}

.menu ul {
    margin-left: 50px;
}

.menu li {
    display: inline-block;
    padding: 0 20px;
}

.menu li a {
    transition: all .3s ease;
}

.menu a:hover{
    color: #fff;
    column-fill: balance;
}

button{
    margin-left: auto;
    margin-right: 20px;
    padding: 9px 25px;
    background: rgb(18, 115, 226);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
}

.container{
    background-color: var(--sfondoDiv);
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    border-radius: 20px;
}

h1{
    text-align: center;
}

.text{
    text-align: justify;
    padding: 50px;
}