.container{
    background-color: var(--sfondoDiv);
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    border-radius: 20px;
}

h1{
    text-align: center;
}

.text{
    text-align: justify;
    padding: 50px;
}