section {
    width: 100%;
    margin-top: 1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.benvenuto {
    background-color: var(--sfondoDiv);
    font-family: "Montserrat";
    font-size: 40px;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 30px;
    padding: 3%;
    /* Ho aggiunto questo padding per il logo esteso*/
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.zonaBox {
    padding-left: 25%;
    padding-right: 25%;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.box1 {
    background-color: var(--sfondoDiv);
    font-family: "Rajdhani";
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 100%;
    padding: 3%;
    border-radius: 20px;
    min-width: 800px;
    transition: ease 1s;
}

.zonaText {
    text-align: justify;
    width: 70%;
}

.gitButton {
    width: 100px;
    height: 100px;
    background-color: white;
    background-image: url("../../res/img/github-mark.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 7%;
    transition: ease 1s;
}

.marcoGif {
    background-image: url(../../res/img/link-link-cheer.gif);
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    padding: 0;
}

.box1 p {
    text-align: justify;
}

.gitButton:hover {
    transform: scale(1.05);
    transition: ease 1s;
    cursor: pointer;
}

.gitButton:hover h1 {
    text-decoration: underline;
    text-decoration-color: var(--dettagli);
}