.block{
    display: block;
    width: 100%;
    border-width: 2px;
    font-size: 22px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 50px;
    text-align: justify;
    transition: transform 0.4s ease; /* Aggiungi una transizione fluida */
    background-color: #2F3061;
}
.block h2{
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
}

.active {
    transform: scale(1); /* Ingrandisci il blocco attivo */
}

.block:not(.active) {
    transform: scale(0.5);
    opacity: 50%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}