body{
    background-image: url("../../res/img/bkg1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

section{
    width: 100%;
    margin-top:1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benvenuto{
    background-color: var(--sfondoDiv);
    font-family: "Rajdhani";
    font-size: 25px;
    width: 100%;
    margin-bottom: 2%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.benvenutoContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.benvenutoText{
    width: 90%;
    margin-right: 2%;
    text-align: justify;
}

.benvenutoImg{
    background-image: url(../../res/img/ai1.jpg);
    width: 40%;
    height: 40%;
}

.zonaBox{
    padding-left: 20%;
    padding-right: 20%;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.box1{
    background-color: var(--sfondoDiv);
    font-family: "Rajdhani";
    font-size: 25px;
    width: 100%;
    padding: 3%;
    border-radius: 20px;
}

.box2{
    background-color: var(--sfondoDiv2);
    font-family: "Rajdhani";
    font-size: 25px;
    width: 49%;
    padding: 3%;
    border-radius: 20px;
}