/*reset delle misure per i browser*/
*{
    box-sizing: border-box;
    margin: 0; padding: 0;   
}

/* Palette */
:root {
    --testo: #F7FFF7;
    --sfondo: #343434;
    --sfondoDiv: #2F3061; /*040549 blu piu acceso*/
    --titoli: #578FC7;
    --dettagli: #28E053;
}

body{
    background-color: var(--sfondo);
    justify-content: center;
    /* align-items: center; */
}

.logo{
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(18, 115, 226);
    height: 50px;
    width: 50px;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 20%;
    background-color: var(--sfondoDiv);
    border-radius: 50px;
    
}

.menu, a, button {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}


.menu{
    list-style: none;
}

.menu ul {
    margin-left: 50px;
}

.menu li {
    display: inline-block;
    padding: 0 20px;
}

.menu li a {
    transition: all .3s ease;
}

.menu a:hover{
    color: #fff;
    column-fill: balance;
}

button{
    margin-left: auto;
    margin-right: 20px;
    padding: 9px 25px;
    background: rgb(18, 115, 226);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
}

section{
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    background-color: rgb(94, 94, 94);
}

.block{
    display: block;
    width: 80%;
    background-color: cadetblue;
    border-style: solid;
}
.block h2{
    width: 100%;
    background-color: brown;
    text-align: center;
}