.containerSX{
    display: flex;
    justify-content:flex-start;
    width: 100%;
}

.containerDX{
    display: flex;
    justify-content: end;
    width: 100%;
}

.bubble{
    background-color: var(--sfondoDiv);
    color: var(--testo);
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 20px;
}

.bubbleContent{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    height: 100%;
    margin: 5%;
}

.bubbleText{

}

.bubbleImg{
    background-color: #F7FFF7;
    height: 150px;
    width: 100px;
    border-radius: 20px;
}