section{
    width: 100%;
    margin-top:1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.benvenuto{
    background-color: var(--sfondoDiv);
    font-family: "Montserrat";
    font-size: 40px;
    width: 100%;
    margin-bottom: 2%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Ho aggiunto questo padding per il logo esteso*/
    padding-top: 10%;
    padding-bottom: 10%;
}

.benvenutoContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.benvenutoText{
    width: 90%;
    margin-right: 2%;
    margin-left: 7%;
    text-align: justify;
}

.benvenutoImg{
    /* background-image: url(../../res/img/ai1.jpg); */
    width: 35%;
    height: 35%;
}

.zonaBox{
    padding-left: 20%;
    padding-right: 20%;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.box1{
    background-color: var(--sfondoDiv);
    font-family: "Rajdhani";
    font-size: 25px;
    width: 100%;
    padding: 3%;
    border-radius: 20px;
    transition: ease 1s;
}

.box2{
    background-color: var(--sfondoDiv2);
    font-family: "Rajdhani";
    font-size: 25px;
    width: 49%;
    padding: 3%;
    border-radius: 20px;
}

.box1 p, .box2 p{
    text-align: justify;
}

.box1:hover{
    transform: scale(1.05);
    transition: ease 1s;
}

.box2:hover{
    transform: scale(1.025);
    transition: ease 0.5s;
}

.box1:hover, .box2:hover{
    cursor: pointer;
}

.box1:hover h1, .box2:hover h1{
    text-decoration: underline;
    text-decoration-color: var(--dettagli);
}

