body{
    background-image: url("../../res/img/bkg1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

section{
    width: 100%;
    margin-top:1%;
    /* height: 500px; */
    margin-bottom: 1%;
}

ul, li{
    font-weight: bold;
}

.zonaBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: black;
    text-align: center;
    column-gap: 20px;
}

.col1{
    grid-column: 1 / span 1; /*inizia dalla colonna 1 ed estenditi per una colonna (arriva alla colonna 2 non compresa)*/
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    align-items: center;
    color: var(--testo);
}

.col1 a{
    text-decoration: none;
    text-align: left;
    text-wrap: nowrap;
    padding-left: 23%;
}

.col1 h2{
    grid-column: 1 / span 1;
    margin-top: 20px;
    color: var(--testo2);
}

.col2{
    grid-column: 2 / span 3;
    background-color: var(--sfondoDiv2);
    grid-template-columns: repeat(4, 1fr);
    display: flex;
}

.col2 ul {
    list-style-position: inside;
    background-color: var(--sfondoDiv2);
}

.col1 .col3{
    margin: 10px;
}

b{
    border-color: #000005;
    border-radius: 8px;
}

.boxtesto{
    width: 66.6%;
    padding: 3%;
    text-align: justify;
    font-size: 20px;
    color: var(--testo);
}

.boxtesto h1{
    text-align: center;
    margin-bottom: 6%;
}

.boxtesto h2{
    margin-top: 2%;
    margin-bottom: 2%;
}

.zonaImg{
    width: 33.3%;
    padding: 3%;
    background-image: url(../img/bollePagTesto.svg);
}

h1, h2{
    color: var(--dettagli)
}

.bibliografia {
    display: block;
    border-top: solid;
    margin-top: 60px;
}

p a, .bibliografia a {
    color: var(--dettagli);
    text-decoration: none;
}

p a:hover, .bibliografia a:hover {
    text-decoration: underline;
}