/* Palette */
:root {
    --testo: #E6E6E6;
    --testo2: #000;
    --sfondo: #E6E6E6;
    --sfondoDiv: #001D4A;
    /* --sfondoDiv2: #00A1E0; */
    --sfondoDiv2: #0084e7;
    --titoli: #E6E6E6;
    --dettagli: #FFB60A;
    --backbutton: #FFB60A; /*DA CCAMBIARE*/
    --sfondonav: #040549; /*DA CCAMBIARE*/
    --sfondonav2: #060f24;
}

body{
    background-image: url("../../res/img/bkg1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

section{
    width: 100%;
    margin-top:1%;
    /* height: 500px; */
    margin-bottom: 1%;
}

.zonaBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: black;
    text-align: center;
    column-gap: 20px;
}

.col1{
    grid-column: 1 / span 1; /*inizia dalla colonna 1 ed estenditi per una colonna (arriva alla colonna 2 non compresa)*/
    background-color: aqua;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    align-items: center;
}

.col1 a{
    text-decoration: none;
    color: var(--testo2);
    text-align: left;
    padding-left: 15%;
}

.col1 h2{
    grid-column: 1 / span 1;
    margin-top: 20px;
}

.col2{
    grid-column: 2 / span 3;
    background-color: orange;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
}

.col2 ul {
    list-style-position: inside;
}

.col3{
    grid-column: 4 span 1;
    background-color: aqua;
}

.col1 .col3{
    margin: 10px;
}

b{
    border-color: #000005;
    border-radius: 8px;
}

.boxtesto{
    width: 66.6%;
    padding: 3%;
    text-align: justify;
    font-size: 20px;
}

.boxtesto h1{
    text-align: center;
    margin-bottom: 6%;
}

.boxtesto h2{
    margin-top: 2%;
    margin-bottom: 2%;
}

.zonaImg{
    width: 33.3%;
    padding: 3%;
}