.container{
    margin-top: 5%;
    margin-right: 8%;
    margin-left: 8%;
    background-color: black;
}

.blockSX, .blockDX{
    background-color: var(--sfondoDiv);
    display: flex;
    height: 300px;
    width: 80%;
    border-radius: 20px;
    border-radius: 20px;
}

.blockDX{
    margin-left: 20%;
}

.text{
    display: flex;
    padding: 5%;
    width: 65%;
    border-radius: 20px 0 0 20px;
    font-size: 25px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.grafico {
    width: 35%;
    background-size: contain; /* Questo assicura che l'immagine mantenga le sue proporzioni */
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    margin: 2%;
    border-radius: 20px;
}

#img1{
    background-image: url(../../res/img/grafici/1.svg);
}

#img2{
    background-image: url(../../res/img/grafici/2.svg);
}

#img3{
    background-image: url(../../res/img/grafici/3.svg);
}

#img4{
    background-image: url(../../res/img/grafici/4.svg);
}

#img5{
    background-image: url(../../res/img/grafici/5.svg);
}

#img6{
    background-image: url(../../res/img/grafici/6.svg);
}

#img7{
    background-image: url(../../res/img/grafici/7.svg);
}

#img8{
    background-image: url(../../res/img/grafici/8.svg);
}

#conclusioni{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: aqua; */
    margin-bottom: 5%;
}

#conclusioni span{
    /* display: flex;
    align-items: center; */
    background-color: var(--sfondoDiv2);
    width: 80%;
    padding: 2%;
    border-radius: 20px;
    font-size: 20px;
}

#conclusioni h2{
    align-items: center;
    margin-bottom: 2%;
    text-align: center;
    height: 20%;
    /* background-color: beige; */
}