section{
    /* height: 1000px; */
    /* padding: 5%; */
}

.container{
    /* background-color: blue; */
    /* height: 300px; */
    margin-top: 5%;
    margin-right: 8%;
    margin-left: 8%;
}

.blockSX, .blockDX{
    background-color: var(--sfondoDiv);
    display: flex;
    height: 300px;
    width: 80%;
    border-radius: 20px;
    border-radius: 20px;
}

.blockDX{
    margin-left: 20%;
}

.text{
    display: flex;
    padding: 5%;
    width: 65%;
    border-radius: 20px 0 0 20px;
    font-size: 25px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.grafico {
    width: 35%;
    background-size: contain; /* Questo assicura che l'immagine mantenga le sue proporzioni */
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    margin: 2%;
    border-radius: 20px;
}


#img1{
    background-image: url(../../res/img/grafici/1.png);
}

#img2{
    background-image: url(../../res/img/grafici/2.png);
}

#img3{
    background-image: url(../../res/img/grafici/3.png);
}

#img4{
    background-image: url(../../res/img/grafici/4.png);
}

#img5{
    background-image: url(../../res/img/grafici/5.png);
}

#img6{
    background-image: url(../../res/img/grafici/6.png);
}

#img7{
    background-image: url(../../res/img/grafici/7.png);
}

#img8{
    background-image: url(../../res/img/grafici/8.png);
}