.container{
    margin-top: 5%;
    margin-right: 8%;
    margin-left: 8%;
}

.block{
    background-color: var(--sfondoDiv);
    display: flex;
    height: 300px;
    width: 80%;
    border-radius: 20px;
    border-radius: 20px;
}

.DX{
    margin-left: 20%;
}

.text{
    display: flex;
    padding: 5%;
    width: 65%;
    border-radius: 20px 0 0 20px;
    font-size: 25px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

.grafico {
    width: 35%;
    background-size: contain; /* Questo assicura che l'immagine mantenga le sue proporzioni */
    background-position: right;
    display: flex;
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    margin: 2%;
    border-radius: 20px;
    background-color: white;
}

#img1{
    background-image: url(../../res/img/grafici/1.svg);
}

#img2{
    background-image: url(../../res/img/grafici/2.svg);
}

#img3{
    background-image: url(../../res/img/grafici/3.svg);
}

#img4{
    background-image: url(../../res/img/grafici/4.svg);
}

#img5{
    background-image: url(../../res/img/grafici/5.svg);
}

#img6{
    background-image: url(../../res/img/grafici/6.svg);
}

#img7{
    background-image: url(../../res/img/grafici/7.svg);
}

#img8{
    background-image: url(../../res/img/grafici/8.svg);
}

#inizio{
    background-color: var(--sfondoDiv2);
    border-radius: 20px;
}

#inizioBlock{
    height: 300px;

    display: flex;
    padding-top:  0;
}

#inizio .text{
    width: 100%;
    font-size: 25px;
}

#inizio .grafico{
    margin-top: 0;
    width: 40%;
}

#inizio h1{
    font-size: 35px;
    width: 100%;
    text-align: center;
    padding-top: 2%;
    height: 20%;
}

#conclusioni{
    padding: 3%;
    background-color: var(--sfondoDiv2);
    border-radius: 20px;
    margin-bottom: 5%;
}

#conclusioni h2{
    align-items: center;
    margin-bottom: 2%;
    text-align: center;
    height: 20%;
    width: 100%;
    font-size: 30px;
}

#conclusioni span{
    height: 80%;
    width: 100%;
    font-size: 25px;
    text-align: justify;
    line-height: 40px;
}

